# Binaries
/out/*

# Testing
/test/

# Yarn
/resources/node_modules/
/resources/output.css
/lib/html/style.go

# Task
**/.task/

# IntelliJ
/.idea/
*.iml

# Keep .gitkeep files
# Such directories must be ignored with a wildcard at the end: hello/*
!/**/.gitkeep
