[Unit]
Description=tldr translation progress website builder
Documentation=https://github.com/LukWebsForge/TldrProgress

[Timer]
# https://www.freedesktop.org/software/systemd/man/systemd.time.html#Calendar%20Events
OnCalendar=*-*-* 02:00:00
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target