name: Go

on:
  push:
    branches: [ main ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: ^1.24
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - uses: actions/checkout@v5
      - name: Setup Task
        run: curl -sL https://taskfile.dev/install.sh | sh
      - name: Build using Taskfile.yml
        run: ./bin/task build
      - uses: actions/upload-artifact@v4
        with:
          name: compiled-application-amd64-ubuntu
          path: out/*

permissions:
  contents: read
