name: JS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - run: yarn
        working-directory: resources
      - run: yarn lint
        working-directory: resources

permissions:
  contents: read
